{% extends "layout.html" %}
{% block content %}
	<h2>{{ title }}.</h2>
	<!-- ======= About Section ======= -->
	<section id="about" class="about">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>About</h2>
				<p>About Us</p>
			</div>
			<h4 class="gray mb-4">Ideate<span class=orange>.</span> Innovate<span class=orange>.</span> Inspire<span class=orange>.</span></h4>
			<p class=gray>
				Ideate. Innovate. Inspire.
			We are driven by our passion to innovate and create solutions that inspire the future.</p>
		</div>
	</section>
	<!-- End About Section -->
{% endblock %}