{% extends "layout.html" %}
{% block content %}
	<h2>{{ title }}.</h2>
	<h3>{{ message }}</h3>
	<address>
		<section id="contact" class="contact section-bg">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>Contact</h2>
					<p>Contact Us</p>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="row">
							<div class="col-md-12">
								<div class="info-box">
									<i class="bx bx-map"></i>
									<h3>Our Address</h3>
									123 Main Street, New York, NY 10030
									<br />
									
								<abbr title="Phone">P:</abbr>
								425.555.0100
							</div>
						</div>
						<div class="col-md-6">
							<div class="info-box mt-4">
								<i class="bx bx-envelope"></i>
								<h3>Email Us</h3>
								<p>info@example.com<br>contact@example.com</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="info-box mt-4">
								<i class="bx bx-phone-call"></i>
								<h3>Call Us</h3>
								<p>
									Phone: +1 425.555.0100
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</address>
{% endblock %}