{% extends "layout.html" %}
{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(../../static/app/assets/img/slide/slide-1.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Deqode</span></h2>
                        <p class="animate__animated animate__fadeInUp">Deqode has a robust history, which began when a group of technical architects and consultants established Techracers. Despite having the same executives, we ideologically progressed in 2019. Hence, adopting a new name and brand identity was the need of the times.
                        Deqode expresses what we have become as an organization as well as what we hope to be - a solution provider that transcends the boundaries of traditional information technology companies and decodes business problems with quality solutions, quickly delivered..</p>
                        <a href="/about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
{% endblock %}